<header id="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-top">
        <div class="d-flex justify-content-between align-items-center">
          <ul class="navbar-top-left-menu">
            <li class="nav-item">
              <a href="pages/index-inner.html" class="nav-link">Advertise</a>
            </li>
            <li class="nav-item">
              <a href="pages/aboutus.html" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Events</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Write for Us</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">In the Press</a>
            </li>
          </ul>
          <ul class="navbar-top-right-menu">
            <li class="nav-item">
              <a
                routerLink="/search"
                [routerLinkActiveOptions]="{ exact: true }"
                routerLinkActive="active"
                class="nav-link"
                ><i class="mdi mdi-magnify"></i
              ></a>
            </li>
            <ng-container *ngIf="currentUser === null">
              <li class="nav-item">
                <a [routerLink]="['/auth/login']" routerLinkActive="active"  class="nav-link">Login</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/auth/register']" routerLinkActive="active"  class="nav-link">Register</a>
              </li>
            </ng-container>
            <ng-container *ngIf="currentUser">
              <li class="nav-item">
                <a href="#" class="nav-link">{{ currentUser.displayName }}</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/bookmarks']" class="nav-link"
                  >My Bookmarks</a
                >
              </li>
              <li class="nav-item">
                <a (click)="logout()" class="nav-link">Log out</a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
      <div class="navbar-bottom">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <a class="navbar-brand" href="#"
              ><img src="assets/images/logo.svg" alt=""
            /></a>
          </div>
          <div>
            <button
              class="navbar-toggler"
              type="button"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="navbar-collapse justify-content-center collapse"
              id="navbarSupportedContent"
            >
              <ul
                class="
                  navbar-nav
                  d-lg-flex
                  justify-content-between
                  align-items-center
                "
              >
                <li>
                  <button class="navbar-close">
                    <i class="mdi mdi-close"></i>
                  </button>
                </li>
                <li class="nav-item active">
                  <a
                    class="nav-link"
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/category/business"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >Business</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/category/science"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    >Science</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/category/technology"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    >Technology</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/category/sports"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    >Sports</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/category/health"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    >Health</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/category/entertainment"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    >Entertainment</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLink="/search"
                    [routerLinkActiveOptions]="{ exact: true }"
                    routerLinkActive="active"
                    >Search</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <ul class="social-media">
            <li>
              <a href="#">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
